
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background: #f5f5f5;
    }

    .container {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      padding: 4rem;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    .products {
       display: grid;
       grid-template-columns: 25% 25% 25% 25%;
       gap: 1.5rem;
       justify-content: center;
       align-items: center;
    }

    .product {
      background: #fff;
      padding: 10px;
      border-radius: 8px;
      position: relative;
    }

    .pic{
        overflow: hidden;
    }
    .pic:hover img{
        transform: scale(1.5);
        cursor: pointer;
        
    }
    .food-img{
    width: 100%;
    height: 200px;
    transition: 0.5s;
    object-fit: cover;
    justify-content: ;
}

    .product h3 {
      margin: 10px 0;
    }

    .product button {
      background: #f53b57;
      color: #fff;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
      right: 0;
      margin-top: 20px;
    }

    .product button:hover {
      opacity: 0.8;
    }

    .cart {
      background: #fff;
      padding: 20px;
      margin-top: 40px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .cart h2 {
      margin-bottom: 20px;
      color: #333;
    }

    .cart-items {
      list-style: none;
      padding: 0;
    }

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #eee;
    }

    .cart-item button {
      background: #e76f51;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .cart-item button:hover {
      background: #d9534f;
    }

    .total {
      text-align: right;
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }





    .test{
      display: grid;
      grid-template-rows: 1fr ;
      position: relative;
      margin-top: 10px;
    }
    .test2{
      margin-top: 10px;
      right: 0;
      position: absolute;
    }

    .placeOrder{
      background: #f53b57;
      color: #fff;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
      margin-left: 500px;
    }